#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 4%;
    /* margin: 0 auto; */
    height: 10vh;
}

#menuLinks {
    display: flex;
    align-items: center;
    gap: 4vw;
    height: 10vh;
    width: 30%;
}

#logo {
    font-family: var(--font-header);
    font-size: 3rem;
    text-transform: uppercase;
}

#rightMenu {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    height: 10vh;
}